# Vaultwarden container
SITE_DOMAIN=<domain-name>  # 准备的域名，如 vault.example.com
SSL_EMAIL=<email-address>  # 生成 SSL 证书时用的 Email，如 vault@example.com
LOG_MAX_SIZE=10m
TZ=Asia/Shanghai

# Vaultwarden configuration
DOMAIN=https://${SITE_DOMAIN}
SIGNUPS_ALLOWED=${SIGNUPS_ALLOWED:-false}
INVITATIONS_ALLOWED=false
WEBSOCKET_ENABLED=true

# 以下变量用于配置 Vaultwarden 的 SMTP 邮件发送服务，如果无需注册账户时的 Email 验证和基于 Email 的两步登录验证功能则可删除或注释
# 推荐使用 Gmail 的 SMTP 发送服务 (https://github.com/dani-garcia/vaultwarden/wiki/SMTP-configuration#googlegmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_TIMEOUT=15
SMTP_SECURITY=force_tls
SMTP_USERNAME=<gmail-address>
SMTP_PASSWORD=<gmail-app-password>
SMTP_FROM=<gmail-address>
SMTP_FROM_NAME=<sender-name>